.column {
  float: left;
  width: 33.33%;
}

.row {
  margin-left: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.add-habit-form,
.add-friend-form {
  display: none;
}
