/*  HEADER STYLE  */

header {
  background-color: #007bff;
}

.name-container {
  height: 75px;
}

.name-container h1 {
  margin-left: 3%;
  padding-top: 20px;
  color: white;
}

/*  TABLE STYLE  */
.tr {
  display: inline;
}

#btn-delete {
  margin-left: 5px;
}

/*  BODY STYLE  */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  margin-top: 3.33%;
}

.row {
  width: 75%;
  text-align: center;
}

td {
  font-size: 20px;
}

/*  FORMS STYLE  */

.forms {
  width: 20%;
  margin-left: 50px;
}

.add-habit-form,
.add-friend-form {
  display: none;
}

/* MODAL STYLE */
.friend-modal-body {
  text-align: center;
}

.friend-modal-body h4 {
  text-decoration: underline;
}

img {
  margin: 3%;
  border-radius: 50%;
}
