/*  HEADER STYLE  */

header {
  background-color: #007bff;
}

.name-container {
  height: 75px;
}

.name-container h1 {
  margin-left: 3%;
  padding-top: 20px;
  color: white;
}

/*  TABLE STYLE  */
.tr {
  display: inline;
}

/*  BODY STYLE  */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.row {
  width: 75%;
  text-align: center;
}

li {
  font-size: 20px;
}

/*  FORMS STYLE  */

.forms {
  width: 35%;
  margin-left: 50px;
}

.add-habit-form,
.add-friend-form {
  display: none;
}
